.container {
  width: 100%;
  margin: 0 auto;
}

.container-home {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;


  background-color: #111;
  box-shadow: 0 10px 10px  rgb(255, 255, 255);
}

@keyframes neon {
  from {
    filter: drop-shadow(0px 0px 3px var(--cor-neon));
  }
  to {
    filter: drop-shadow(0px 0px 14px var(--cor-neon));
  }
}

.wrap-home {
  border-radius: 10px;

  overflow: hidden;
  
  margin: 30px;

  animation: neon 3s alternate infinite ease-in-out;
  --cor-neon: #fff;
  
}